@model Contramcamlamroi.Models.Product

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.NamePro)*@
            <p> Tên sản phẩm </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamePro)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.DecriptionPro)*@
            <p> Mô tả </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecriptionPro)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Category)*@
            <p> Mã sản phẩm </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Price)*@
            <p> Giá </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ImagePro)*@
            <p> Hình </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePro)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
