@model Contramcamlamroi.Models.Product

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<div class="containt" style="margin-top:50px;margin-left:100px">
    <div id="div-top" >
        <p>
            @Html.ActionLink("Trang chủ", "Index")  
            @*@Html.ActionLink("Rau củ", "GroupByTop5", " OrderDetail")*@
        </p>
        <p style="font-size: 30px"> @Html.DisplayFor(model => model.NamePro)</p><hr /> <br />
    </div>
    <div class="col-md-6" style="margin-left:-120px;">
        
        <img src="@Url.Content(Model.ImagePro)" style="width:400px; margin-top:-60px;" />
    </div>
    <div class="col-md-4" style="margin-top:-10px;font-size:30px;font-family:cursive">
        @*<p> @Html.DisplayFor(model => model.NamePro)</p> <br />*@
        <p>  @Html.DisplayFor(model => model.Price)0 đ</p>
        <p></p>
        <p></p>
        <p class="btn btn-success" style="margin-top:200px;">  <a href="/ShoppingCart/AddToCart/ @Model.ProductID" class="btn btn-defaul">Mua Ngay</a></p>
    </div>
   
</div>
@*<div id="div-footer">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>*@
    <!--<hr />
    <dl class="dl-horizontal">

        <!--<dd>-->
            <!--@*@Html.DisplayFor(model => model.ImagePro)*@-->
            <!--<!--<img src="@Url.Content(Model.ImagePro)" height="150" width="150" />

        </dd>-->
        <!--<dt>-->
            @*@Html.DisplayNameFor(model => model.NamePro)*@
            <!--<p> Tên sản phẩm </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamePro)
        </dd>

        <dt>-->
            @*@Html.DisplayNameFor(model => model.DecriptionPro)*@
            <!--<p> Mô tả </p>



            @Html.DisplayFor(model => model.DecriptionPro)
        </dt>

        <dt>-->
            @*@Html.DisplayNameFor(model => model.Category)*@
            <!--<p> Mã sản phẩm </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>-->
            @*@Html.DisplayNameFor(model => model.Price)*@
            <!--<p> Giá </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>-->

        <!--<dt>-->
        <!--@*@Html.DisplayNameFor(model => model.ImagePro)*@-->
        <!--<!--<p> Hình </p>
    </dt>

    <dd>-->
        <!--@*@Html.DisplayFor(model => model.ImagePro)*@-->
        <!--<!--<img src="@Url.Content(Model.ImagePro)" height="150" width="150" />

    </dd>-->
        <!--@*<dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>*@

    </dl>
</div>-->

