@model Contramcamlamroi.Models.AdminUser

@{
    ViewBag.Title = "LoginAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    body {
        padding-left: 50px;
    }

    .field-validation-error {
        color: red;
    }
</style>


<h2>ĐĂNG NHẬP CHO NGƯỜI BÁN</h2>
@using (Html.BeginForm("LoginAdmin", "Admin"))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.NameUser)</td>
            <td>@Html.TextBoxFor(model => model.NameUser, new { style = "field-validation-error" })</td>
            <td>@Html.ValidationMessageFor(model => model.NameUser)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.PasswordUser)</td>
            <td>@Html.EditorFor(model => model.PasswordUser)</td>
            <td>@Html.ValidationMessageFor(model => model.PasswordUser)</td>
            @if (ViewBag.ErrorInfo == null)
            {
                <p>@ViewBag.ErrorInfo</p>
            }
        </tr>
        <tr>
         
            
            <td></td>
            <td>
                <input type="submit" value="Đăng nhập" class="btn btn-success" />
                <a href="@Url.Action("RegisterAdmin", "Admin")" class="btn btn-success"> Đăng ký </a>
            </td>

        </tr>
       
    </table>
}

